name: Reusable workflow
on: 
  workflow_call:
    inputs:
      artifact-name:
        description: The name of the deployable artifact files
        required: true
        type: string
        default: dist

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get code artifact
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.artifact-name }}
      - name: Ouput information
        run: echo "Deploying and uploading..."
